@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size:15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:7px;
    margin:10 0 0 10;
    border-radius:10px;
    background: alpha(@background,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
.modules-center {
    padding:7px;

    margin:10 0 0 0;
    border-radius:10px;
    background: alpha(@background,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    min-width:161px;
}
.modules-right {
    padding:7px;
    margin: 10 10 0 0;
    border-radius:10px;
    background: alpha(@background,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
tooltip {
    background:@background;
    color: @color7;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:@color9;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;
}
#clock{
    padding: 0px 5px;
    color:@color7;
    transition: all .3s ease;
}
#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}
#workspaces {
    padding: 0px 5px;
    text-shadow:none;
}
#workspaces button {
    all:unset;
    margin: 0px 3px;    
    padding: 0px 2px;
    color:rgba(0,0,0,0);
    text-shadow:none;
    background: linear-gradient(45deg, alpha(@color2,.5), alpha(@color9,.5));
    border-radius: 50%;
    transition: all .3s ease-in-out;
    min-width: 15px;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    background: linear-gradient(45deg, alpha(@color9,1), alpha(@color2,1));
}
#workspaces button.active {
    color:rgba(0,0,0,0);
    border: none;
    padding: 0px 2px;
    min-width:40px;
    border-radius:10px;
    transition: all .3s ease-in-out;
    background: linear-gradient(45deg, @color2, @color9);


}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    transition: all .3s ease-in-out;
    background: rgba(0,0,0,0);

}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}
#workspaces button.empty.active {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: none;
    transition: all .3s ease-in-out;
    background: linear-gradient(45deg, @color2, @color9);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@color7;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
