@import url('/home/eli/.cache/wal/colors-waybar.css');
* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
}
button {
    font-family: 'CodeNewRoman Nerd Font Mono';
    background-color: alpha(@color9,1);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;


}
#lock {
    background-image: image(url("/home/eli/.config/wlogout/lock.png"));
    margin : 5px 5px 5px 300px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#shutdown {
    background-image: image(url("/home/eli/.config/wlogout/power.png"));
    margin : 5px 300px 5px 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#logout {
    background-image: image(url("/home/eli/.config/wlogout/logout.png"));
    margin : 5px 300px 5px 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#reboot {

    background-image: image(url("/home/eli/.config/wlogout/restart.png"));
    margin : 5px 5px 5px 300px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#lock:focus {
    background-image: image(url("/home/eli/.config/wlogout/lock.png"));
    margin : 5px 5px 5px 200px;
    padding: 5px;

}
#shutdown:focus {
    background-image: image(url("/home/eli/.config/wlogout/power.png"));
    margin : 5px 200px 5px 5px;
    padding: 5px;
}
#logout:focus {
    background-image: image(url("/home/eli/.config/wlogout/logout.png"));
    margin : 5px 200px 5px 5px;
    padding: 5px;
}
#reboot:focus {
    background-image: image(url("/home/eli/.config/wlogout/restart.png"));
    margin : 5px 5px 5px 200px;
    padding: 5px;
}
button:focus{
    background-color: alpha(@color5,1);
    color: #000000;

    background-position:center;
}
